[Unit]
Description=Rclone mount (gdrive => gcache => gcrypt)
Documentation=http://rclone.org/docs/
After=network-online.target
Requires=network-online.target
AssertPathIsDirectory=/mnt/.gcrypt

[Service]
Type=notify
User=root
Group=root
ExecStart=/usr/bin/rclone mount --allow-other --cache-rps 5 --vfs-cache-mode writes gcrypt: /mnt/.gcrypt
ExecStop=/bin/fusermount -uz /mnt/.gcrypt
Restart=always
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=5

[Install]
WantedBy=default.target
