[Unit]
Description=Rclone crypt mount
Documentation=http://rclone.org/docs/
After=plexdrive.service
Requires=plexdrive.service
AssertPathIsDirectory=/mnt/plexdrive

[Service]
Type=notify
User=root
Group=root
ExecStart=/usr/local/bin/rclone mount --allow-other plexdrivecrypt: /mnt/plexdrive
ExecStop=/bin/fusermount -uz /mnt/plexdrive
Restart=always
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=5

[Install]
WantedBy=default.target
