[Unit]
Description=UnionFS mount
After=rclone.service
Requires=rclone.service
PartOf=plexdrive.service
AssertPathIsDirectory=/mnt/union

[Service]
Type=forking
User=root
Group=root
ExecStart=/usr/local/bin/unionfs -o max_files=32768,cow,allow_other,direct_io,sync_read /home/cloud/localdata=RW:/mnt/cloud=RW /mnt/union
ExecStop=/usr/bin/fusermount -uz /mnt/union
Restart=always
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=5

[Install]
WantedBy=default.target
RequiredBy=docker.service
