[Unit]
Description=Upload from local storage to cloud mount

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/local/bin/rclone move /data/ gcrypt: --delete-after --min-age 5m --exclude /.downloads/
